In [1]:
import pandas as pd

In [2]:
file_path = r"C:\Users\Alba\Desktop\IronHack\project-1-ironhack-payments-es\project_dataset\cash_request.csv"
df = pd.read_csv(file_path)
df.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
1,70,100.0,rejected,2019-12-10 19:50:12.34778+00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
2,7,100.0,rejected,2019-12-10 19:13:35.82546+00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23970 entries, 0 to 23969
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          23970 non-null  int64
 1   amount                      23970 non-null  float64
 2   status                      23970 non-null  object
 3   created_at                  23970 non-null  object
 4   updated_at                  23970 non-null  object
 5   user_id                     21867 non-null  float64
 6   moderated_at                16035 non-null  object
 7   deleted_account_id          2104 non-null   float64
 8   reimbursement_date          23970 non-null  object
 9   cash_request_received_date  16289 non-null  object
 10  money_back_date             16543 non-null  object
 11  transfer_type               23970 non-null  object
 12  send_at                     16641 non-null  object
 13  recovery_status             3330 non-null   object
 14  reco_creation               3330 non-null   object
 15  reco_last_update            3330 non-null   object
dtypes: float64(3), int64(1), object(12)
memory usage: 2.9+ MB

In [4]:
df.describe()

                 id        amount        user_id  deleted_account_id
count  23970.000000  23970.000000   21867.000000         2104.000000
mean   13910.966124     82.720818   32581.250789         9658.755228
std     7788.117214     26.528065   27618.565773         7972.743249
min        3.000000      1.000000      34.000000           91.000000
25%     7427.250000     50.000000   10804.000000         3767.000000
50%    14270.500000    100.000000   23773.000000         6121.500000
75%    20607.750000    100.000000   46965.000000        16345.000000
max    27010.000000    200.000000  103719.000000        30445.000000

In [5]:
#!pip install ydata-profiling

In [6]:
#import numpy as np
#from ydata_profiling import ProfileReport

In [7]:
#profile = ProfileReport(df, title="Profiling Report")

In [8]:
#profile.to_notebook_iframe()

In [9]:
df_non_rejected = df[df["status"] != "rejected"]
df_non_rejected.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update
5,2145,100.0,money_back,2020-05-23 20:58:55.129432+00,2020-07-06 03:36:03.023911+00,9489.0,2020-05-24 12:40:33.05491+00,NaN,2020-06-06 22:00:00+00,2020-05-26,2020-07-06 03:36:03.023521+00,regular,NaN,completed,2020-06-12 22:27:04.837525+00,2020-07-06 03:36:03.030904+00
8,5672,100.0,canceled,2020-06-28 12:06:33.71284+00,2020-06-28 12:06:33.712853+00,NaN,NaN,2499.0,2020-07-07 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN
11,1794,100.0,money_back,2020-05-14 21:11:47.393326+00,2020-06-03 05:11:35.312872+00,778.0,2020-05-15 09:11:17.272832+00,NaN,2020-05-29 21:11:46.695+00,2020-05-17,2020-06-03 05:11:35.312616+00,regular,NaN,completed,2020-05-29 21:21:01.362364+00,2020-06-03 05:11:35.319122+00
13,2122,100.0,money_back,2020-05-22 12:47:42.741369+00,2020-06-13 06:36:34.188372+00,8218.0,2020-05-23 14:29:15.376466+00,NaN,2020-06-15 22:00:00+00,2020-05-27,2020-06-13 06:36:34.188042+00,regular,NaN,NaN,NaN,NaN
43,1629,100.0,money_back,2020-05-08 11:02:44.881355+00,2020-06-10 08:20:10.399242+00,9068.0,2020-05-08 11:07:03.575647+00,NaN,2020-06-03 22:00:00+00,2020-05-12,2020-06-10 08:20:10.398977+00,regular,NaN,NaN,NaN,NaN

In [10]:
df.groupby("status")["status"].unique()

status
active                                  [active]
canceled                              [canceled]
direct_debit_rejected    [direct_debit_rejected]
direct_debit_sent            [direct_debit_sent]
money_back                          [money_back]
rejected                              [rejected]
transaction_declined      [transaction_declined]
Name: status, dtype: object

In [11]:
# Create a "month" column based on "created_at" column 
df['created_at'] = pd.to_datetime(df['created_at'])
df['month_created_at'] = df['created_at'].dt.month
df.head()

,id,amount,status,created_at,updated_at,user_id,moderated_at,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,send_at,recovery_status,reco_creation,reco_last_update,month_created_at
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00:00,2019-12-11 16:47:42.40783+00,804.0,2019-12-11 16:47:42.405646+00,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,12
1,70,100.0,rejected,2019-12-10 19:50:12.347780+00:00,2019-12-11 14:24:22.900054+00,231.0,2019-12-11 14:24:22.897988+00,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,12
2,7,100.0,rejected,2019-12-10 19:13:35.825460+00:00,2019-12-11 09:46:59.779773+00,191.0,2019-12-11 09:46:59.777728+00,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,12
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00:00,2019-12-18 14:26:18.136163+00,761.0,2019-12-18 14:26:18.128407+00,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,12
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00:00,2020-05-07 09:21:55.34008+00,7686.0,2020-05-07 09:21:55.320193+00,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,NaN,5

In [12]:
df_status = df.groupby(['month_created_at', 'status']).size().reset_index(name='count')
df_status

    month_created_at                 status  count
0                  1  direct_debit_rejected      9
1                  1             money_back    102
2                  1               rejected    112
3                  2  direct_debit_rejected     10
4                  2             money_back    102
5                  2               rejected     72
6                  3  direct_debit_rejected      3
7                  3      direct_debit_sent      1
8                  3             money_back    165
9                  3               rejected     75
10                 4  direct_debit_rejected     14
11                 4             money_back    309
12                 4               rejected    150
13                 5                 active      1
14                 5  direct_debit_rejected     18
15                 5             money_back    591
16                 5               rejected    227
17                 6                 active      3
18                 6               canceled     13
19                 6  direct_debit_rejected     55
20                 6             money_back   1591
21                 6               rejected    953
22                 7                 active     12
23                 7               canceled      2
24                 7  direct_debit_rejected     93
25                 7      direct_debit_sent      1
26                 7             money_back   1909
27                 7               rejected   1584
28                 8                 active      1
29                 8               canceled      1
30                 8  direct_debit_rejected     95
31                 8      direct_debit_sent      8
32                 8             money_back   1922
33                 8               rejected   1390
34                 9                 active      7
35                 9               canceled      9
36                 9  direct_debit_rejected    142
37                 9      direct_debit_sent      5
38                 9             money_back   2618
39                 9               rejected   1440
40                10                 active     33
41                10               canceled      6
42                10  direct_debit_rejected    360
43                10      direct_debit_sent     17
44                10             money_back   6811
45                10               rejected    450
46                10   transaction_declined     48
47                11                 active      2
48                11               canceled      2
49                11  direct_debit_rejected      8
50                11      direct_debit_sent      1
51                11             money_back    123
52                11               rejected      5
53                12  direct_debit_rejected     24
54                12      direct_debit_sent      1
55                12             money_back    154
56                12               rejected    110

In [13]:
file_path = r"C:\Users\Alba\Desktop\IronHack\project-1-ironhack-payments-es\project_dataset\extract - fees - data analyst - .csv"
df_fees = pd.read_csv(file_path)
df_fees.head()

,id,cash_request_id,type,status,category,total_amount,reason,created_at,updated_at,paid_at,from_date,to_date,charge_moment
0,6537,14941.0,instant_payment,rejected,NaN,5.0,Instant Payment Cash Request 14941,2020-09-07 10:47:27.42315+00,2020-10-13 14:25:09.396112+00,2020-12-17 14:50:07.47011+00,NaN,NaN,after
1,6961,11714.0,incident,accepted,rejected_direct_debit,5.0,rejected direct debit,2020-09-09 20:51:17.998653+00,2020-10-13 14:25:15.537063+00,2020-12-08 17:13:10.45908+00,NaN,NaN,after
2,16296,23371.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 23371,2020-10-23 10:10:58.352972+00,2020-10-23 10:10:58.352994+00,2020-11-04 19:34:37.43291+00,NaN,NaN,after
3,20775,26772.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 26772,2020-10-31 15:46:53.643958+00,2020-10-31 15:46:53.643982+00,2020-11-19 05:09:22.500223+00,NaN,NaN,after
4,11242,19350.0,instant_payment,accepted,NaN,5.0,Instant Payment Cash Request 19350,2020-10-06 08:20:17.170432+00,2020-10-13 14:25:03.267983+00,2020-11-02 14:45:20.355598+00,NaN,NaN,after

In [14]:
df_fees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21061 entries, 0 to 21060
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               21061 non-null  int64
 1   cash_request_id  21057 non-null  float64
 2   type             21061 non-null  object
 3   status           21061 non-null  object
 4   category         2196 non-null   object
 5   total_amount     21061 non-null  float64
 6   reason           21061 non-null  object
 7   created_at       21061 non-null  object
 8   updated_at       21061 non-null  object
 9   paid_at          15531 non-null  object
 10  from_date        7766 non-null   object
 11  to_date          7766 non-null   object
 12  charge_moment    21061 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 2.1+ MB

In [15]:
#calcuar dias q tarda en recibir el dinero desde petición
# Eliminar columna sent_at recovery_status reco_creation
# frecuencia, vemos por user id cuales han repetido
# Tasa incidentes con el csv de fees
# calcular tasa cuentas canceladas

In [16]:
df = (
    df.drop(columns=['updated_at', 'moderated_at', 'send_at'])
    .rename(columns={"id": "cash_request_id"})
)
df

,cash_request_id,amount,status,created_at,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,recovery_status,reco_creation,reco_last_update,month_created_at
0,5,100.0,rejected,2019-12-10 19:05:21.596873+00:00,804.0,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,NaN,NaN,NaN,12
1,70,100.0,rejected,2019-12-10 19:50:12.347780+00:00,231.0,NaN,2020-01-09 19:50:12.34778+00,NaN,NaN,regular,NaN,NaN,NaN,12
2,7,100.0,rejected,2019-12-10 19:13:35.825460+00:00,191.0,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,NaN,NaN,NaN,12
3,10,99.0,rejected,2019-12-10 19:16:10.880172+00:00,761.0,NaN,2020-01-09 19:16:10.879606+00,NaN,NaN,regular,NaN,NaN,NaN,12
4,1594,100.0,rejected,2020-05-06 09:59:38.877376+00:00,7686.0,NaN,2020-06-05 22:00:00+00,NaN,NaN,regular,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23965,20616,100.0,money_back,2020-10-12 13:54:11.686225+00:00,13681.0,NaN,2021-02-06 11:00:00+00,2020-10-13,2021-02-06 20:17:49.257521+00,instant,NaN,NaN,NaN,10
23966,25243,50.0,money_back,2020-10-27 14:41:25.734910+00:00,NaN,30367.0,2020-11-03 22:00:00+00,2020-10-28,2020-12-01 13:26:53.787672+00,instant,completed,2020-11-12 23:20:41.928788+00,2020-12-01 13:26:53.815504+00,10
23967,22357,100.0,money_back,2020-10-20 07:58:04.006937+00:00,82122.0,NaN,2021-02-05 11:00:00+00,2020-10-21,2021-02-05 12:19:30.626289+00,instant,NaN,NaN,NaN,10
23968,20256,100.0,money_back,2020-10-10 05:40:55.700422+00:00,64517.0,NaN,2021-02-05 11:00:00+00,2020-10-12,2021-02-05 13:14:19.689906+00,instant,NaN,NaN,NaN,10
23969,19886,100.0,direct_debit_sent,2020-10-08 14:16:52.155661+00:00,44867.0,NaN,2021-02-05 11:00:00+00,2020-10-10,NaN,instant,NaN,NaN,NaN,10

In [17]:
df_combined = pd.merge(df, df_fees, on='cash_request_id', how='outer')
df_combined

,cash_request_id,amount,status_x,created_at_x,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,...,status_y,category,total_amount,reason,created_at_y,updated_at,paid_at,from_date,to_date,charge_moment
0,3.0,1.0,canceled,2019-11-19 13:57:53.511561+00:00,47.0,NaN,2019-12-05 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,100.0,money_back,2019-12-09 14:47:35.190714+00:00,NaN,1309.0,2019-12-16 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,100.0,rejected,2019-12-10 19:05:21.596873+00:00,804.0,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,100.0,direct_debit_rejected,2019-12-10 19:05:48.921042+00:00,812.0,NaN,2020-02-05 23:00:00+00,2019-12-11,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.0,100.0,rejected,2019-12-10 19:13:35.825460+00:00,191.0,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32093,27010.0,100.0,money_back,2020-11-01 23:42:30.847066+00:00,96599.0,NaN,2020-11-30 23:00:00+00,2020-11-03,2020-11-30 09:17:45.747387+00,instant,...,accepted,NaN,5.0,Instant Payment Cash Request 27010,2020-11-01 23:43:04.178637+00,2020-11-01 23:43:04.178658+00,2020-11-30 09:17:45.795493+00,NaN,NaN,after
32094,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Instant Payment Cash Request 11164,2020-08-06 22:42:34.525373+00,2020-11-04 16:01:17.296048+00,NaN,NaN,NaN,after
32095,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Instant Payment Cash Request 11444,2020-08-08 06:33:06.244651+00,2020-11-04 16:01:08.332978+00,NaN,NaN,NaN,after
32096,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Instant Payment Cash Request 11788,2020-08-26 09:39:37.362933+00,2020-11-04 16:01:36.492576+00,NaN,NaN,NaN,after
32097,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,cancelled,NaN,5.0,Instant Payment Cash Request 12212,2020-08-12 14:20:06.657075+00,2020-11-04 16:01:53.106416+00,NaN,NaN,NaN,after

In [18]:
df_combined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32098 entries, 0 to 32097
Data columns (total 26 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   cash_request_id             32094 non-null  float64
 1   amount                      32094 non-null  float64
 2   status_x                    32094 non-null  object
 3   created_at_x                32094 non-null  datetime64[ns, UTC]
 4   user_id                     29522 non-null  float64
 5   deleted_account_id          2573 non-null   float64
 6   reimbursement_date          32094 non-null  object
 7   cash_request_received_date  24149 non-null  object
 8   money_back_date             23917 non-null  object
 9   transfer_type               32094 non-null  object
 10  recovery_status             7200 non-null   object
 11  reco_creation               7200 non-null   object
 12  reco_last_update            7200 non-null   object
 13  month_created_at            32094 non-null  float64
 14  id                          21061 non-null  float64
 15  type                        21061 non-null  object
 16  status_y                    21061 non-null  object
 17  category                    2196 non-null   object
 18  total_amount                21061 non-null  float64
 19  reason                      21061 non-null  object
 20  created_at_y                21061 non-null  object
 21  updated_at                  21061 non-null  object
 22  paid_at                     15531 non-null  object
 23  from_date                   7766 non-null   object
 24  to_date                     7766 non-null   object
 25  charge_moment               21061 non-null  object
dtypes: datetime64[ns, UTC](1), float64(7), object(18)
memory usage: 6.4+ MB

In [25]:
df_combined = (df_combined
    .drop(columns=['created_at_y', 'status_y'])
    .rename(columns={"status_x": "status", "created_at_x": "created_at", "id": "fees_id"}))
df_combined

,cash_request_id,amount,status,created_at,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,...,fees_id,type,category,total_amount,reason,updated_at,paid_at,from_date,to_date,charge_moment
0,3.0,1.0,canceled,2019-11-19 13:57:53.511561+00:00,47.0,NaN,2019-12-05 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,100.0,money_back,2019-12-09 14:47:35.190714+00:00,NaN,1309.0,2019-12-16 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,100.0,rejected,2019-12-10 19:05:21.596873+00:00,804.0,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,100.0,direct_debit_rejected,2019-12-10 19:05:48.921042+00:00,812.0,NaN,2020-02-05 23:00:00+00,2019-12-11,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.0,100.0,rejected,2019-12-10 19:13:35.825460+00:00,191.0,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32093,27010.0,100.0,money_back,2020-11-01 23:42:30.847066+00:00,96599.0,NaN,2020-11-30 23:00:00+00,2020-11-03,2020-11-30 09:17:45.747387+00,instant,...,21193.0,instant_payment,NaN,5.0,Instant Payment Cash Request 27010,2020-11-01 23:43:04.178658+00,2020-11-30 09:17:45.795493+00,NaN,NaN,after
32094,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,2990.0,instant_payment,NaN,5.0,Instant Payment Cash Request 11164,2020-11-04 16:01:17.296048+00,NaN,NaN,NaN,after
32095,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,3124.0,instant_payment,NaN,5.0,Instant Payment Cash Request 11444,2020-11-04 16:01:08.332978+00,NaN,NaN,NaN,after
32096,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,5185.0,instant_payment,NaN,5.0,Instant Payment Cash Request 11788,2020-11-04 16:01:36.492576+00,NaN,NaN,NaN,after
32097,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,...,3590.0,instant_payment,NaN,5.0,Instant Payment Cash Request 12212,2020-11-04 16:01:53.106416+00,NaN,NaN,NaN,after

In [29]:
df_combined = df_combined.dropna(subset=['cash_request_id'])
df_combined

,cash_request_id,amount,status,created_at,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,...,fees_id,type,category,total_amount,reason,updated_at,paid_at,from_date,to_date,charge_moment
0,3.0,1.0,canceled,2019-11-19 13:57:53.511561+00:00,47.0,NaN,2019-12-05 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4.0,100.0,money_back,2019-12-09 14:47:35.190714+00:00,NaN,1309.0,2019-12-16 23:00:00+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,100.0,rejected,2019-12-10 19:05:21.596873+00:00,804.0,NaN,2020-01-09 19:05:21.596363+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.0,100.0,direct_debit_rejected,2019-12-10 19:05:48.921042+00:00,812.0,NaN,2020-02-05 23:00:00+00,2019-12-11,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7.0,100.0,rejected,2019-12-10 19:13:35.825460+00:00,191.0,NaN,2020-01-09 19:13:35.825041+00,NaN,NaN,regular,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32089,27006.0,50.0,money_back,2020-11-01 23:07:55.231487+00:00,55916.0,NaN,2020-11-12 22:00:00+00,2020-11-02,2020-11-12 19:39:20.24198+00,instant,...,21181.0,instant_payment,NaN,5.0,Instant Payment Cash Request 27006,2020-11-01 23:08:17.050835+00,2020-11-12 19:39:20.299302+00,NaN,NaN,after
32090,27007.0,100.0,money_back,2020-11-01 23:11:37.788849+00:00,39339.0,NaN,2020-11-29 11:00:00+00,2020-11-02,2020-11-29 19:27:43.055298+00,instant,...,21182.0,instant_payment,NaN,5.0,Instant Payment Cash Request 27007,2020-11-01 23:12:30.916658+00,2020-11-29 19:27:43.101686+00,NaN,NaN,after
32091,27008.0,50.0,rejected,2020-11-01 23:13:19.286745+00:00,24505.0,NaN,2020-11-24 23:51:00+00,NaN,NaN,instant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32092,27009.0,60.0,money_back,2020-11-01 23:15:28.102894+00:00,100781.0,NaN,2020-12-04 11:00:00+00,NaN,2020-12-02 14:17:37.43354+00,instant,...,21183.0,instant_payment,NaN,5.0,Instant Payment Cash Request 27009,2020-11-01 23:16:45.505708+00,2020-12-02 14:17:37.4998+00,NaN,NaN,after
32093,27010.0,100.0,money_back,2020-11-01 23:42:30.847066+00:00,96599.0,NaN,2020-11-30 23:00:00+00,2020-11-03,2020-11-30 09:17:45.747387+00,instant,...,21193.0,instant_payment,NaN,5.0,Instant Payment Cash Request 27010,2020-11-01 23:43:04.178658+00,2020-11-30 09:17:45.795493+00,NaN,NaN,after

In [43]:
group_df = df_combined.groupby("cash_request_id").count()
group_df.sort_values(by="cash_request_id", ascending=True)

,amount,status,created_at,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,recovery_status,...,fees_id,type,category,total_amount,reason,updated_at,paid_at,from_date,to_date,charge_moment
cash_request_id,,,,,,,,,,,,,,,,,,,,,
3.0,1,1,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4.0,1,1,1,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
5.0,1,1,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
6.0,1,1,1,1,0,1,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
7.0,1,1,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27006.0,1,1,1,1,0,1,1,1,1,0,...,1,1,0,1,1,1,1,0,0,1
27007.0,1,1,1,1,0,1,1,1,1,0,...,1,1,0,1,1,1,1,0,0,1
27008.0,1,1,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27009.0,1,1,1,1,0,1,0,1,1,0,...,1,1,0,1,1,1,1,0,0,1
27010.0,1,1,1,1,0,1,1,1,1,0,...,1,1,0,1,1,1,1,0,0,1

In [51]:
pd.set_option('display.max_columns', None)

In [53]:
duplicados = df_combined[df_combined.duplicated(subset='cash_request_id', keep=False)]
num_duplicados = duplicados['fees_id'].nunique()
duplicados

,cash_request_id,amount,status,created_at,user_id,deleted_account_id,reimbursement_date,cash_request_received_date,money_back_date,transfer_type,recovery_status,reco_creation,reco_last_update,month_created_at,fees_id,type,category,total_amount,reason,updated_at,paid_at,from_date,to_date,charge_moment
1420,1503.0,100.0,money_back,2020-05-01 08:56:39.974371+00:00,8500.0,NaN,2020-07-19 22:00:00+00,2020-05-05,2020-06-10 12:23:46.651767+00,regular,NaN,NaN,NaN,5.0,15.0,postpone,NaN,5.0,Postpone Cash Request 1503,2021-01-19 11:48:27.322782+00,NaN,2020-06-04 22:00:00+00,2020-06-19 22:00:00+00,before
1421,1503.0,100.0,money_back,2020-05-01 08:56:39.974371+00:00,8500.0,NaN,2020-07-19 22:00:00+00,2020-05-05,2020-06-10 12:23:46.651767+00,regular,NaN,NaN,NaN,5.0,57.0,postpone,NaN,5.0,Postpone Cash Request 1503,2021-01-19 11:48:38.504628+00,NaN,2020-07-04 22:00:00+00,2020-07-19 22:00:00+00,before
1422,1503.0,100.0,money_back,2020-05-01 08:56:39.974371+00:00,8500.0,NaN,2020-07-19 22:00:00+00,2020-05-05,2020-06-10 12:23:46.651767+00,regular,NaN,NaN,NaN,5.0,60.0,postpone,NaN,5.0,Postpone Cash Request 1503,2021-01-19 11:48:33.72362+00,NaN,2020-06-19 22:00:00+00,2020-07-04 22:00:00+00,before
1437,1518.0,100.0,money_back,2020-05-01 18:37:01.041409+00:00,6865.0,NaN,2020-08-27 22:00:00+00,2020-05-04,2020-08-27 22:00:00+00,regular,NaN,NaN,NaN,5.0,13.0,postpone,NaN,5.0,Postpone Cash Request 1518,2020-10-13 14:25:00.807415+00,NaN,2020-05-27 22:00:00+00,2020-06-27 10:26:44+00,before
1438,1518.0,100.0,money_back,2020-05-01 18:37:01.041409+00:00,6865.0,NaN,2020-08-27 22:00:00+00,2020-05-04,2020-08-27 22:00:00+00,regular,NaN,NaN,NaN,5.0,25.0,postpone,NaN,5.0,Postpone Cash Request 1518,2021-01-20 16:53:01.051441+00,NaN,2020-07-27 22:00:00+00,2020-08-27 13:44:05+00,before
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31514,26365.0,70.0,money_back,2020-10-30 12:43:02.920535+00:00,46746.0,NaN,2020-12-04 11:00:00+00,2020-10-31,2020-12-05 19:51:14.307835+00,instant,NaN,NaN,NaN,10.0,20810.0,postpone,NaN,5.0,Postpone Cash Request 26365,2020-10-31 17:36:37.457811+00,NaN,2020-12-04 11:00:00+00,2020-12-10 11:00:00+00,before
31515,26365.0,70.0,money_back,2020-10-30 12:43:02.920535+00:00,46746.0,NaN,2020-12-04 11:00:00+00,2020-10-31,2020-12-05 19:51:14.307835+00,instant,NaN,NaN,NaN,10.0,21000.0,postpone,NaN,5.0,Postpone Cash Request 26365,2020-11-01 11:42:45.602353+00,NaN,2020-12-04 11:00:00+00,2020-12-06 11:00:00+00,before
31516,26365.0,70.0,money_back,2020-10-30 12:43:02.920535+00:00,46746.0,NaN,2020-12-04 11:00:00+00,2020-10-31,2020-12-05 19:51:14.307835+00,instant,NaN,NaN,NaN,10.0,20104.0,instant_payment,NaN,5.0,Instant Payment Cash Request 26365,2020-10-30 12:43:35.422024+00,2020-12-05 19:51:14.356145+00,NaN,NaN,after
31886,26787.0,100.0,money_back,2020-10-31 16:35:05.913764+00:00,99884.0,NaN,2020-12-04 11:00:00+00,2020-11-01,2020-12-07 23:00:00+00,instant,NaN,NaN,NaN,10.0,20937.0,postpone,NaN,5.0,Postpone Cash Request 26787,2020-11-01 06:08:32.889762+00,2020-11-01 06:08:33.183563+00,2020-11-15 16:35:31.306+00,2020-12-04 11:00:00+00,before
31887,26787.0,100.0,money_back,2020-10-31 16:35:05.913764+00:00,99884.0,NaN,2020-12-04 11:00:00+00,2020-11-01,2020-12-07 23:00:00+00,instant,NaN,NaN,NaN,10.0,20793.0,instant_payment,NaN,5.0,Instant Payment Cash Request 26787,2020-10-31 16:35:41.606072+00,2020-12-09 05:18:14.036123+00,NaN,NaN,after